body {
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}
#display {
  width: 100%;
  background-color: hsl(0, 0%, 30%);
  height: 100px;
  padding: 20px;
  font-size: 2rem;
  border: none;
  border-radius: 15px;
  color: white;
  text-align: left;
}
.calculator {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 100px auto;
  padding: 11px;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  overflow: hidden;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}
button {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 768px) {
  .calculator {
    max-width: 300px;
    padding: 15px;
  }
  button {
    width: 65px;
    height: 65px;
  }
  .keys {
    padding: 0;
    padding-top: 13px;
  }
}
button:hover {
  background-color: hsl(0, 0%, 40%);
}
button:active {
  background-color: hsl(0, 0%, 50%);
}
.operatores-btn {
  background-color: hsl(35, 100%, 55%);
}
.operatores-btn:hover {
  background-color: hsl(35, 100%, 65%);
}
.operatores-btn:active {
  background-color: hsl(35, 100%, 75%);
}
